body
{
    margin: 0px;
    padding: 50px;
    font-family: "Segoe WPC" , "Segoe UI" , Helvetica, Arial, "Arial Unicode MS" , Sans-Serif;
}

a
{
    color: #1BA1E2;
}

.layout
{
    width: 600px;
    margin: 0px auto;
}

.title
{
    font-size: 32px;
    margin: 0px;
}

.description
{
    color: #999999;
    line-height: 1.5em;
}

.tagline
{
    color: #999999;
    line-height: 1.5em;
    font-size: 14px;
    font-style: italic;
}

.tile
{
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
}

.tile a
{
}

.tile a img
{
    width: 100px;
    height: 100px;
}

.footer
{
    line-height: 1.5em;
    font-size: 14px;
}

.navigation a
{
    color: #aaaaaa;
}

pre
{
    padding: 10px;
    background-color: #eeeeee;
    overflow: hidden;
}

.endpoint
{
    margin-top: 10px;
    margin-bottom: 10px;
}