<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="AzureStorageAccount" value="winstagram" />
    <add key="AzureStorageKey" value="tuFJ1xBfQhwR/7VFt3YDYmikiHdtJBpn6L9cHrIl+lkBZpHgXs3lyqD+2xPgOVJTYe0EGUyYpmy6Je4Us7SsAw==" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.onetransitapi.com" port="587" userName="system@onetransitapi.com" password="mcc0rm1ck_t3ch!" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true"
                 targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                               multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WebService.WebService"
               behaviorConfiguration="defaultBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://winstagram.cloudapp.net/" />
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="webHttpBinding"
                  bindingConfiguration="webBinding"
                  behaviorConfiguration="jsonBehavior"
                  contract="WebService.WebService" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="defaultBehavior">
          <serviceAuthorization serviceAuthorizationManagerType="WebService.Common.AuthorizationManager, WebService" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
